<div class="container">
    <div class="row">
        <div class ="col-5 mx-auto">
            <h3 class ="bg-primary text-white p-3">
                {{getname()}} listesi
            </h3>
            <div class="input-group mb-3">
                <input #txtItem type="text" class="form-control" placeholder="Yapılacak işi giriniz..." (keyup.enter)="addItem(txtItem.value)">
                <button class="btn btn-outline-secondary" (click)="addItem(txtItem.value); txtItem.value=''">Ekle</button>
            </div>
            
            <div class="form-check mb-3">
                <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="displayAll">
                <label for="displayAll" class="form-check-label">Tümünü göster</label>
            </div>

            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Yapıldı</th>
                        <th>Yapılacak</th>
                        <th>İşlem</th>
                        <th>Yapıldı mı</th>
                        <th>Yapıldıysa işaretle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i = index;">
                        <td>{{ i+1 }}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.action}}</td>
                        <td>
                            <div [ngSwitch]="item.action">
                                <div *ngSwitchCase="true">Yes</div>
                                <div *ngSwitchCase="false">No</div>
                            </div>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.action" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>
        <div class="alert alert-warning" *ngIf="getItems().length == 0">
           Listede eleman yok.
        </div>
    </div>
</div>
