<div class="container">
    <div class="row">
        <div class ="col-5 mx-auto">
            <h3 class ="bg-primary text-white p-3">
                IHSOSKO'NUN listesi
            </h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Yapılacak işi giriniz...">
                <button class="btn btn-outline-secondary">Ekle</button>
            </div>
            
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="" id="displayAll">
                <label for="displayAll" class="form-check-label">Tümünü göster</label>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Yapıldı</th>
                        <th>Yapılacak</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>KAHVALTI</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SPOR</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>PONÇİK</td>
                        <td>ŞİMDİLİK NO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
